body
  background: var(--beige)
  box-sizing: border-box

a, .link, .link p
  text-decoration: none
  cursor: pointer

.sectionIntro
  padding: var(--sides)

.articleList
  display: flex
  flex-direction: column
  align-items: flex-start
  padding: var(--sides)
  li
    margin-bottom: var(--sides)
    &:last-child
      margin-bottom: 0

.authorList, .tagList
  display: inline-flex

